body {
    margin: 0;
    height: 200px;
    width: 200px;
}
.header {
    color:white;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 5px;
    background-image:url("images/header.png");
    margin-top: 0px;
    margin-left: 0px;
    height:30px;
    width:130px;
    background-size:cover;
    float:left;
}
.btn1 {
    background-image:url("images/arrow1.png");
    float:right;
    height: 30px;
    width:30px;
}
.btn2 {
    background-image:url("images/add.png");
    float:right;
    height: 30px;
    width:30px;
}

.btn3 {
    background-image:url("images/listicon.png");
    height: 50px;
    width:50px;
}

.btn4 {
    background-image:url("images/tabIcon.png");
    height: 50px;
    width:50px;
}

.btn1,.btn2,.btn3,.btn4 {
    background-size: cover;
    border:none;
    background-color:white
}
.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover {
    background-color:#434343ff
}

.logBtn, .listBtn {
    background-color:#434343ff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:5px;
    margin-top:5px;
    border: none;
    color: white;
}

.listBtn {
    height: 25px;
}

.logBtn:hover, .listBtn:hover {
    background-color:rgb(31, 30, 30);
}
